## Archivos de configuración de usuario
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user
*.rsuser

## Carpetas de compilación
bin/
obj/
bld/
[Ll]og/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/

## Archivos de Rider y JetBrains
.idea/
*.sln.iml
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources.names.txt
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/assetWizardSettings.xml

