{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*", 
  // Database connection string ejemplos reemplazar con los tuyos
  
  "ConnectionStrings": {
    "DefaultConnection": "Server=LocalHost;Port=3306;Database=nombreBD;Uid=root;Pwd=password;"
  }
}
